nav.bg-dark{
  background-color: red !important;
} 
a.navbar-brand {
  padding: 10px;
}
form {
  padding: 10px;
}
h3 {
  margin: 0;
}
a {
  color: black !important;
}
ul {
  margin: 0;
}
main {
  margin-top: 100px;
  padding: 10px;
}