* {
    font-family: Arial;
    border: medium dashed #e3d5c2;
    padding: 0.25em;
    margin: 0.25em;
  }

.comments {
  color: green;
  font-weight: bold;
}
body {
  display: flex;
  margin: 0;
  height: 100vh;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  background-color: red;
}
h1 {
  margin: 0;
  width: auto;
}
