body {
  background-color: red;
}
nav.bg-dark{
  background-color: red !important;
} 
a.navbar-brand {
  padding: 10px;
}
a.nav-link {
  text-shadow: -1px -1px darkred;
}
form {
  padding: 10px;
}
h3 {
  margin: 0;
  text-shadow: -1px -1px darkred;
}
a {
  color: black !important;
  text-decoration: none;
}
ul {
  margin: 0;
}
main {
  margin-top: 100px;
  padding: 10px;
  background-color: black;
  color: whitesmoke;
  min-height: 80vh;
}
footer {
  background-color: red;
  padding: 10px;
}
button.register {
  margin-right: 10px;
  width: 75px;
}
div.countdown {
  width: 50vw;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  display: inline-block;
}
span.time {
  font-size: 130px;
}
span.unit {
  font-size: 25px;
}
div.target_photo {
  width: 40vw;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
img.target {
  padding: 15px;
  margin: auto;
  width: 39vw;
  border-radius: 40px;
}
div.chats {
  width: 30vw;
  background-color: white;
  display: inline-block;
}
div.current_chat {
  width: 60vw;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  vertical-align: top;
  margin-left: 30px;
  height: 500px;
  margin-bottom: 30px;
}
div.incoming {
  text-align: left;
}
p.incoming {
  display: inline-block;
  background-color: #EAEAEC;
  padding: 5px;
  width: fit-content;
  color: black;
  border: solid;
  margin: 10px;
  border-radius: 10px;
}
div.outgoing {
  text-align: right;
  padding: 0;
}
p.outgoing {
  display: inline-block;
  background-color: #1287FF;
  padding: 5px;
  margin: 10px;
  width: fit-content;
  color: black;
  border: solid;
  border-radius: 10px;
}
input.message {
  border-radius: 10px;
  float: right;
  margin: 5px;
}
div.chats {
  padding: 10px;
  display: inline-block;
  background-color: white;
  width: 30vw;
  border-radius: 10px;
  height: 500px;
  margin-left: 40px;
  overflow: scroll;
}
div.chat_name {
  padding: 5px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  border: 2px solid gray;
  margin: 0;
}
header.register {
  text-align: center;
  padding: 20px;
}
a.back_home {
  display: inline-block;
  width: fit-content;
  font-size: 30px;
}
p.register {
  display: inline-block;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
form.register {
  width: fit-content;
  padding: 10px;
  margin: auto;
}
input.register {
  margin-top: 10px; 
  margin-bottom: 10px;
}