/* Universal Elements */
body {
  background-color: red;
}
main {
  margin-top: 100px;
  padding: 10px;
  background-color: black;
  color: whitesmoke;
  min-height: 80vh;
}
footer {
  background-color: red;
  padding: 10px;
}

/* Navbar */
nav.bg-dark{
  background-color: red !important;
} 
nav.mobile-view {
  display: none;
}
a.navbar-brand {
  padding: 10px;
}
a.nav-link {
  text-shadow: -1px -1px darkred;
}
button.register {
  margin-right: 10px;
  width: 75px;
}
form {
  padding: 10px;
}
h3 {
  margin: 0;
  text-shadow: -1px -1px darkred;
}
a {
  color: black !important;
  text-decoration: none;
}
ul {
  margin: 0;
}

/* Countdown Elements */
.countdown_and_weather {
  text-align: center;
  display: inline-block;
  width: 50vw;
  margin-right: 3vw;
}
.mobile_countdown {
  display: none;
}
.countdown, .forecast{
  width: 51vw;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  display: inline-block;
}
.forecast {
  padding: 1vw;
}
.time {
  font-size: 8em;
}
.unit {
  font-size: 1.5em;
}

/* Target Elements */
.privacy_button {
  width: 4vw;
  height: 4vw;
  background-color: darkred;
  border-radius: 50%;
  position: absolute;
  left: 1vh;
  top: 1vh;
  color: white;
  font-size: 50%;
  z-index: 2;
}
.privacy_logo {
  width: 3vw;
  height: 3vw;
}
.target {
  position: relative;
  width: 40vw;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.target_photo {
  z-index: 1;
  padding: 15px;
  margin: auto;
  width: 39vw;
  border-radius: 40px;
  margin-top: 2vh;
}
.elimination_button {
  margin-left: 1vw;
  border-radius: 5px;
  border: 2px solid gray;
  background-color: red;
}
/* Login Elements */
.welcome {
  text-align: center;
  margin-top: 5vh;
  letter-spacing: 0.5vw;
}
.login_button {
  margin: 1vw;
}
.login_buttons {
  text-align: center;
}


/* Chat Elements */
.chats {
  padding: 10px;
  display: inline-block;
  background-color: white;
  width: 30vw;
  border-radius: 10px;
  height: 500px;
  margin-left: 40px;
  overflow: scroll;
}
.chats_mobile {
  display: none;
}
.chat_name {
  padding: 5px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  border: 2px solid gray;
  margin: 0;
}
.current_chat {
  width: 60vw;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  vertical-align: top;
  margin-left: 30px;
  height: 500px;
  margin-bottom: 30px;
  overflow: scroll;
}
div.incoming {
  text-align: left;
}
p.incoming {
  display: inline-block;
  background-color: #EAEAEC;
  padding: 5px;
  width: fit-content;
  color: black;
  border: solid;
  margin: 10px;
  border-radius: 10px;
}
div.outgoing {
  text-align: right;
  padding: 0;
}
p.outgoing {
  display: inline-block;
  background-color: #1287FF;
  padding: 5px;
  margin: 10px;
  width: fit-content;
  color: black;
  border: solid;
  border-radius: 10px;
}
input.message {
  border-radius: 10px;
  float: right;
}

/* Registration Elements */ 
header.register {
  text-align: center;
  padding: 20px;
}
a.back_home {
  display: inline-block;
  width: fit-content;
  font-size: 30px;
}
p.register {
  display: inline-block;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
form.register {
  width: fit-content;
  padding: 10px;
  margin: auto;
}
input.register {
  margin-top: 10px; 
  margin-bottom: 10px;
}

/* Leaderboard Elements */
.leaderboard {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 70vw;
  height: auto;
  overflow: scroll;
}
th, td {
  width: auto;
}

/* Notes Elements */
.notes {
  width: 80vw;
  min-height: 60vh;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  color: black;
  padding: 10px;
}

/* --------MOBILE VIEW-------- */


@media (max-width: 400px) {
  /* Universal Elements */
  main {
    margin-top: 0;
    min-height: 85vh;
  }
  footer {
    top: 10vh;
  }
  h3 {
    display: inline-block;
  }

  /* Navbar */
  nav.desktop-view {
    display: none;
  }
  nav.mobile-view {
    display: block;
  }

  /* Countdown */
  .countdown_and_weather {
    display: none;
  }
  .mobile_countdown {
    display: block;
    width: 80vw;
    margin: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
  }
  .time {
    font-size: 2em;
  }
  .unit {
    font-size: 1em;
  }

  /* Target */
  .privacy_button {
    width: 12vw;
    height: 12vw;
    font-size: 35%;
  }
  .privacy_logo {
    width: 8vw;
    height: 8vw;
  }
  .target_photo {
    width: 80vw;
  }
  .target {
    width: 79vw;
    margin-left: 8vw;
  }

  /* Registration */
  .back_home {
    font-size: 1em;
    vertical-align: top;
    margin: auto;
    font-weight: bold;
    margin-right: 0;
  }
  p.register {
    font-size: 1em;
    margin: auto;
    margin-left: 0;
  }
  main.register {
    min-height: 90vh;
  }
  header.register {
    display: none;
  }

  /* Leaderboard */
  .leaderboard {
    width: 80vw;
  }

  /* Chats */
  .chats {
    display: none;
  }
  .chats_mobile {
    display: block;
    text-align: center;
  }
  .chats_button {
    width: 90vw;
    background-color: white;
  }
  .current_chat {
    width: 90vw;
    margin-left: 2vw;
  }
}